@import './../../index.scss';

.footer {
  margin-top: 35px;
  background-color: #f2f2f2;
  border-top: 1px #f2f2f2 solid;
  box-shadow: 0px 10px 20px rgba(0,0,0,0.13);

  .footerContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5px;

    .footerMainBlock {
      display: flex;
      justify-content: space-around;
      width: 70%;
      margin-top: 10px;

      .footerContacts {
        display: flex;
        flex-direction: column;

        .footerContactsTitle {
          font-weight: 600;
          font-size: 20px;
          border-bottom: 1px #ccc solid;
          padding-bottom: 5px;
        }
        .footerContactsText {
          font-size: sizeText;
          margin-top: 5px;
          text-decoration: none;
          color: #000;
        }
      }
    }

    .footerBottomBlock {
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin-top: 5px;
      width: 100%;
      margin-bottom: 5px;
      font-size: 14px;
    }
  }
}