@import './../../index.scss';

.footer {
  border-top: 1px #f2f2f2 solid;
  margin-top: 35px;
  background-color: #efefef;

  .footerContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15px;

    .footerMainBlock {
      display: flex;
      justify-content: space-around;
      width: 70%;

      .footerContacts {
        display: flex;
        flex-direction: column;
        align-items: center;

        .footerContactsTitle {
          font-weight: 600;
          font-size: 22px;
        }
        .footerContactsText {
          font-size: sizeText;
          margin-top: 5px;
          text-decoration: none;
          color: #000;
          text-align: center;
        }
      }
    }

    .footerBottomBlock {
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin-top: 15px;
      width: 100%;
      margin-bottom: 10px;
      font-size: sizeText;
    }
  }
}