.logo {
  margin-top: 15px;

  .logoContent {
    display: flex;
    justify-content: center;

    .logoImage {
      height: 600px;
      border-radius: 60px;
      background-position: center;
      box-shadow: 0px 10px 20px rgba(0,0,0,0.03);
    }
  }
}