.newsItem {
  width: 560px;
  margin: 0 auto;

  .newsItemContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 10px 10px 10px 10px;

    .newsItemImageBlock {

      .newsItemImage {
        width: 560px;
        height: 300px;
        border-radius: 10px 10px 0px 0px;
  
      }
    }
    .newsItemInfoBlock {
      display: flex;
      flex-direction: column;
      align-items: start;
      width: 100%;
  
      .newsItemInfoDate {
        font-size: sizeText;
        border-bottom: 1px #f2f2f2 solid;
        padding-bottom: 5px;
        margin: 10px 10px 0px 10px;
      }
  
      .newsItemInfoText {
        font-size: sizeText;  
        margin: 10px 10px 10px 10px;
      }
    }
  }
}