@import './../../../index.scss';

.tools {
  margin-top: 15px;
  border-top: 1px #ebebeb solid;

  .toolsTitle {
    text-align: center;
    font-size: $sizeTitle;
    font-weight: 600;
    margin-top: 15px;
    margin-bottom: 25px;
  }

  .toolsContent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .toolsItem {
      position: relative;
      display: flex;
      flex-direction: column;
      width: 500px;
      margin: 0px 40px 40px 40px;
      border: 1px #ccc solid;
      border-radius: 10px;

      .toolsItemTitle {
        border-bottom: 1px #ccc solid;
        padding-bottom: 5px;
        font-size: 22px;
        padding: 10px;
        text-align: center;
        color: #000;
        background-color: #d4e9c2;
        border-radius: 10px 10px 0px 0px;
        font-weight: 600;
      }

      .toolsItemDescription {
        margin-top: 10px;
        font-size: sizeText;
        padding: 10px;
        margin-bottom: 50px;
      }

      .toolsItemInputBlock {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        bottom: 0;
        left: 0;
        width: 500px;
        height: 40px;
        border-radius: 0px 0px 10px 10px;
        border-top: 1px #ccc solid;
        cursor: pointer;

        .toolsItemInput {
          border-radius: 10px;
          color: #000;
        }
      }
      .toolsItemInputBlock:hover {
        background-color: #d4e9c2;
      }
    }

    .toolsItem:last-child {
      margin: 0px 40px 0px 40px;
    }
  }
}