@import './../../../index.scss';

.news {
  margin-top: 15px;
  border-top: 1px #ebebeb solid;

  .newsTitle {
    text-align: center;
    font-size: $sizeTitle;
    font-weight: 600;
    margin-top: 15px;
    margin-bottom: 25px;
  }
  
  .newsContent {
    max-width: 1300px;
    margin: 0 auto;
  }
}