@import './../../../index.scss';

.about {
  margin-top: 15px;
  border-top: 1px #ebebeb solid;

  .aboutTitle {
    text-align: center;
    font-size: $sizeTitle;
    font-weight: 600;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .aboutContent {
    display: flex;
    flex-direction: column;
    align-items: center;

    .aboutText {
      font-size: sizeText;
      text-align: justify;
      max-width: 1200px;
      color: #000;
    }
  }
}