body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'Helios';
  src: url(/Assets/fonts/helios/HeliosC-Bold.ttf);
  font-weight: 500;
  max-width: 1400px;
}

// title
$sizeTitle: 30px;
$fontFamily: 'Helios';
$sizeText: 18px;
$sizeSupText: 16px;