html, body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: 'Helios';
  src: url(/Assets/fonts/helios/HeliosC-Bold.ttf);
  font-weight: 500;
  max-width: 1400px;
}

// font
$fontFamily: 'Helios';


// desktop
$desktopSizeTitle: 26px;
$desktopSizeText: 16px;
$desktopSizeSupText: 16px;

// mobile
$mobileSizeTitle: 24px;
$mobileSizeText: 14px;